extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th(style="vertical-align: middle;text-align:center;") 名字
						th(style="vertical-align: middle;text-align:center;") 时间
						//th(style="vertical-align: middle;text-align:center;") 查看
						//th(style="vertical-align: middle;text-align:center;") 更新
						th(style="vertical-align: middle;text-align:center;") 删除
				tbody
					each item in categories
						tr(class="item-id-"+item._id)
							td(style="vertical-align: middle;text-align:center;") #{item.name}
							td(style="vertical-align: middle;text-align:center;") #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:MM:SS')}
							//td(style="vertical-align: middle;text-align:center;"): a(target="_blank", href="/movie/" + item._id) 查看
							//td(style="vertical-align: middle;text-align:center;"): a(target="_blank", href="/admin/category/update/"+item._id) 修改
							td(style="vertical-align: middle;text-align:center;")
								button.btn.btn-danger.del(type="button", data-id=item._id) 删除
	script(src="/js/admin.js")
		//- 要缩进
