doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    body
        include ./includes/nav
        .container
            .row
                .page-header
                    h1= title
            block content
